@import url("theme.css");

.wy-nav-side .wy-side-nav-search {
    background-color: #6DC692;
    border-color: #6DC692;
}

.wy-nav-content-wrap .wy-nav-top {
    background-color: #6DC692;
}

.rst-content .note {
    background-color: #6DC692;
}

.rst-content .admonition .admonition-title {
    background: #69917B;
}

.rst-content code {
     white-space: pre-wrap;
}

table.docutils div.line-block {
    margin-left: 0;
}
